.titulo {text-align:center; margin-top:20px; color:#003366;}
.kpi {background:#e8f0ff; text-align:center; padding:15px; border-radius:12px; box-shadow:0 0 5px #aaa;}
.conclusiones {padding:15px; background:#f4faff; border-left:5px solid #003366; font-size:18px;}
